.headerlogo img {
    width: 80px;
}
.headerlogo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 75px;
}
.headernav {
    display: flex;
    gap: 36px;
    margin-left: 10px;
}
.headernav a {
    color: #333;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
}
.headertop {
    display: flex;
    align-items: center;
}
.headersearch {
position: relative;
border: 1px solid #e0e0e0;
border-radius: 40px;
padding-right: 10px;
display: flex;
align-items: center;
box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.25) inset;
}
.headersearch input{
background-color: transparent;
padding: 15px 17px 15px 22px;
}
.headersearch span {
cursor: pointer;
}
.container-app {
    width: 1800px;
    margin: 0 auto;
}